<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.d2c.shop.service.modules.product.mapper.CouponProductMapper">
    <resultMap id="baseMap" type="com.d2c.shop.service.modules.product.model.CouponProductDO">

    </resultMap>

    <select id="findQualified" resultMap="baseMap">
        SELECT *
        FROM P_COUPON_PRODUCT
        WHERE type = #{type}
        AND coupon_id IN
        <foreach collection="couponIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND product_id IN
        <foreach collection="productIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        LIMIT 0,100
    </select>

</mapper>